<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjJucasBank.Properties.Settings.strConexao" connectionString="workstation id=BancoJukas.mssql.somee.com;packet size=4096;user id=lluaEliza_SQLLogin_1;pwd=Lugra1124;data source=BancoJukas.mssql.somee.com;persist security info=False;initial catalog=BancoJukas" />
    </connectionStrings>
</configuration>